@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron"; style = "background-color: #00574B">
    <h1>School Test Application</h1>
    <p class="lead">This is the web application for QuizApp, this web application will allow students to view their marks and memos for a test they have taken. Lectures will be able to create and edit a test and to view all test they have created in this web application</p>
</div>